@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.5rem;
  /* --radius: 0.625rem; */

  --background: oklch(0.9755 0.0029 264.54);
  --foreground: oklch(0.1371 0.036 258.53);

  --card: oklch(0.9755 0.0029 264.54);
  --card-foreground: oklch(0.1371 0.036 258.53);

  --popover: oklch(0.9755 0.0029 264.54);
  --popover-foreground: oklch(0.1371 0.036 258.53);

  --primary: oklch(0.2079 0.0399 265.73);
  --primary-foreground: oklch(0.9838 0.0035 247.86);

  --secondary: oklch(0.9508 0.0059 264.53);
  --secondary-foreground: oklch(0.2079 0.0399 265.73);

  --muted: oklch(0.9508 0.0059 264.53);
  --muted-foreground: oklch(0.5547 0.0407 257.44);

  --accent: oklch(0.9508 0.0059 264.53);
  --accent-foreground: oklch(0.2079 0.0399 265.73);

  --destructive: oklch(0.6368 0.2078 25.33);
  --destructive-foreground: oklch(0.9838 0.0035 247.86);

  --border: oklch(0.9176 0.0099 264.52);
  --input: oklch(0.9425 0.0069 264.53);
  --ring: oklch(0.1371 0.036 258.53);

  --sidebar-background: oklch(0.9672 0.0039 264.54);
  --sidebar-foreground: oklch(0.3705 0.012 285.8);

  --sidebar-primary: oklch(0.2103 0.0059 285.88);
  --sidebar-primary-foreground: oklch(0.9848 0 0);

  --sidebar-accent: oklch(0.9676 0.0013 286.37);
  --sidebar-accent-foreground: oklch(0.2103 0.0059 285.88);

  --sidebar-border: oklch(0.9278 0.0058 264.53);
  --sidebar-ring: oklch(0.6232 0.1879 259.8);
}

.dark {
  --background: oklch(0.1371 0.036 258.53);
  --foreground: oklch(0.9838 0.0035 247.86);

  --card: oklch(0.1371 0.036 258.53);
  --card-foreground: oklch(0.9838 0.0035 247.86);

  --popover: oklch(0.1371 0.036 258.53);
  --popover-foreground: oklch(0.9838 0.0035 247.86);

  --primary: oklch(0.9838 0.0035 247.86);
  --primary-foreground: oklch(0.2079 0.0399 265.73);

  --secondary: oklch(0.28 0.0369 259.97);
  --secondary-foreground: oklch(0.9838 0.0035 247.86);

  --muted: oklch(0.28 0.0369 259.97);
  --muted-foreground: oklch(0.7107 0.0351 256.79);

  --accent: oklch(0.28 0.0369 259.97);
  --accent-foreground: oklch(0.9838 0.0035 247.86);

  --destructive: oklch(0.3959 0.1331 25.72);
  --destructive-foreground: oklch(0.9838 0.0035 247.86);

  --border: oklch(0.28 0.0369 259.97);
  --input: oklch(0.28 0.0369 259.97);
  --ring: oklch(0.8688 0.0198 252.85);
  --sidebar-background: oklch(0.2103 0.0059 285.88);
  --sidebar-foreground: oklch(0.9676 0.0013 286.37);
  --sidebar-primary: oklch(0.4878 0.217 264.39);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2741 0.0055 286.03);
  --sidebar-accent-foreground: oklch(0.9676 0.0013 286.37);
  --sidebar-border: oklch(0.2741 0.0055 286.03);
  --sidebar-ring: oklch(0.6232 0.1879 259.8);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}